<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        span.bold {
            font-weight: bold;
        }

        table.noborder {
            border: 0px;
            padding: 0px;
        }

        th {
            text-align: left;
        }
        table {
            display: table;
            border-collapse: collapse;
            border-spacing: 0px;
            border-color: grey;
        }

        .td-header {
            overflow: hidden;
            padding: 2px 3px;
            vertical-align: bottom;
            background-color: rgb(79, 129, 189);
            font-family: Arial;
            font-size: 9pt;
            font-weight: bold;
            color: rgb(255, 255, 255);
            text-align: center;
            border: 1px solid rgb(204, 204, 204);
        }

        .td-data {
            overflow: hidden;
            padding: 2px 3px;
            vertical-align: bottom;
            border: 1px solid rgb(204, 204, 204)
        }
    </style>
</head>
<body>
Hi All,

    <p>
        Below is the today's work summary of LogRhythm SOAR Services Team:<br />
        <br />
        <div class="top-pad">
          <table>
              <tbody>
                <tr style="height:21px">

                    <td class="td-header">​Name</td>

                    <td class="td-header">Today</td>

                    <td class="td-header">Tomorrow (Next working day)</td>

                    <td class="td-header">Impediment</td>

                </tr>

                    <tr style="height:21px">

                            <td class="td-data">
                            Gyanendra Rai
                            </td>

                            <td class="td-data">
                            JM/ ARM Centralized Metrics
                            </td>

                            <td class="td-data">
                            JM/ ARM Centralized Metrics
                            </td>

                            <td class="td-data">
                            No
                            </td>

                    </tr>

                    <tr style="height:21px">

                            <td class="td-data">
                            Vijay Pandey
                            </td>

                            <td class="td-data">
                            [Analysis] - Displaying Measurements in InfluxDB after creating new windows perf counters in telegraf_win.conf.
                            </td>

                            <td class="td-data">
                            Will continue working on Job Manager Centralized Matrics.
                            </td>

                            <td class="td-data">
                            No
                            </td>

                    </tr>

                    <tr style="height:21px">

                            <td class="td-data">
                            Vivek Sharma
                            </td>

                            <td class="td-data">
                            Machine setup for 7.4.4, Bug:35462 -AD sync error when login details of user are updated on AD server.
                            </td>

                            <td class="td-data">
                            will conclude the analysis and possible fix for the same.
                            </td>

                            <td class="td-data">
                            No
                            </td>

                    </tr>

                    <tr style="height:21px">

                            <td class="td-data">
                            Sunil Kumar
                            </td>

                            <td class="td-data">
                            SIEM-35516 : ARM Centralized Metrics | Push data to Metrics Collection
 Customer case 00337637 : "Any SmartResponse using 'Object Name' not working in 7.3.5"
                            </td>

                            <td class="td-data">
                            SIEM-35516 : ARM Centralized Metrics | Push data to Metrics Collection
                            </td>

                            <td class="td-data">
                            No
                            </td>

                    </tr>

                    <tr style="height:21px">

                            <td class="td-data">
                            Rishav Kumar
                            </td>

                            <td class="td-data">
                            TIS-200 : Analysis , Adding custom provider
                            </td>

                            <td class="td-data">
                            ARM - Centralized Metrics | Performance Counter data preperation and verification
                            </td>

                            <td class="td-data">
                            No
                            </td>

                    </tr>

                    <tr style="height:21px">

                            <td class="td-data">
                            Harsh Dixit
                            </td>

                            <td class="td-data">
                            worked on test doc update for Job Manager - Centralized Metrics and defect re-verification.
logged new defects as below for LR 8.0.0 build :
#SIEM-36069
#SIEM-36067
#SIEM-36064
                            </td>

                            <td class="td-data">
                            Work on defect re-verification
                            </td>

                            <td class="td-data">
                            No
                            </td>

                    </tr>

                    <tr style="height:21px">

                            <td class="td-data">
                            Shivani Garg
                            </td>

                            <td class="td-data">
                            Worked on defect Re-Verification and review comments incorporation for test  case in ARM Centralized Metrics
                            </td>

                            <td class="td-data">
                            Worked on defect Re-Verification
                            </td>

                            <td class="td-data">
                            No
                            </td>

                    </tr>

              </tbody>
          </table>
      </div>
    </p>

<p>
    -- <br/>
    Thank You <br/>
    Vivek Sharma
</p>
<p>
</p>
</body>
</html>